<h1>Post</h1>

  <h2><%= @post.name %></h2>
  <p><%= @post.content %></p>

  <form action="/posts/<%= @post.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete" id="hidden">
    <input type="submit" value="delete">
  </form>
